<div class="chat">
    <div class="headChat">
        <h2></h2>
    </div>
    <div class="massages">
        
    </div>
    <div class="footChat">
        <input type="text" name="message">
        <input type="submit">
    </div>
</div>