<div class="chat">
    <div class="headChat">
        <h2></h2>
        <img src="assets/images/cam.png" alt="visio conf">
    </div>
    <div class="messages">
        
    </div>
    <div class="footChat">
        <input type="text" name="message">
        <input type="submit">
    </div>
</div>
<script src="assets/script/chat.js"></script>
<script src="assets/script/visio.js"></script>