<div class="chat hidden">
    <div class="headChat">
        <h2></h2>
        <img src="assets/images/cam.png" alt="visio conf">
    </div>
    <div class="messages">
        
    </div>
    <div class="footChat">
        <form>
            <input type="text" name="message">
            <input type="submit">
        </form>
    </div>
</div>