<div id="connected">
<% connected.forEach(person => { %>
    <% if (person.socketId !== null) { %>
        <p data-id="<%= person.socketId %>"><%= person.name %></p>
    <% } %>
<% }) %>
</div>
<script type="text/javascript" src="/assets/script/connectedPersonSocket.js"></script>
