<div id="connected">
<% connected.forEach(person => { %>
        <div class="person">
            <p><%= person %></p>
        </div>
    <% }) %>
</div>
<script type="text/javascript" src="/assets/script/connectedPersonSocket.js"></script>
