<%- include('layouts/header') %>
<div>
    <form method="post">
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="nom">
        <label for="submit">connexion</label>
        <input type="submit">
    </form>
</div>
<%- include('layouts/footer') %>