<%- include('layouts/header') %>
<div class="connection">
    <form method="post">
        <input type="text" name="name" id="name" placeholder="nom">
        <input type="submit" value="connect">
    </form>
</div>
<%- include('layouts/footer') %>
<script src="assets/script/chat.js"></script>
