/.idea/chat.iml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/vcs.xml
/node_modules/
/public/css/style.css
/public/css/style.css.map
/public/css/.sass-cache/5ddfe519cb2d05684bf5846e4616c1b619cf2bdb/style.scssc
/.idea/watcherTasks.xml
/openssl/
